body{
	font: 62.5% "Trebuchet MS", sans-serif;
	margin: 50px;
	background-color: #f9f9f9;
	color: #1d1d1d;
}

#mock{
	padding: 10px;
	border: 1px solid #c8c8c8;
}

/* Customizations start here */

.ui-datepicker{
	width: inherit;
}

.ui-timepicker-wrapper{
	width: 100px;
}
.ui-timepicker-wrapper.ui-timepicker-with-duration{
	width: 200px !important;
}
table.criteria{
	width: 100%;
}
.left-label,
.right-label{
	position: relative;
	top: -20px;
}
.left-label{
	float: left;
}
.right-label{
	float:right;
}
table.criteria tr{
	transition: background-color .3s ease-in-out;
}
table.criteria tr td:nth-child(2){
	width: 500px;
}
table.criteria td.weight{
	width: 25px;
}
table.criteria td.score{
	width: 50px;
}
tr.un-rated{
	
	border: 1px #cfe1fa solid;
	background-color:#b4e6fa;
}
tr.un-rated:nth-of-type(even){
	background-color:#c7effa;
}
input[readonly]{
	background-color:#f7f7f7 !important;
}
input[name='rawScoreList']{
	text-align: center;
}
tr.un-rated input[name='rawScoreList']{
	color: red;
	background-color:#faeff5;
}
.ui-slider-wrapper{
	width: 80% !important;
}